<div class="dashboard">

    <header class="header">
        <h1>{{ pageTitle }}</h1>

        <p>Welcome, {{ userName }} 👋</p>
    </header>

    <div class="cards">

        <div class="card">
            <h3>Total Employees</h3>
            <h2>{{ employeeCount }}</h2>
        </div>

        <div class="card">
            <h3>Departments</h3>
            <h2>{{ departmentCount }}</h2>
        </div>

        <div class="card">
            <h3>Average Salary</h3>
            <h2>Rs. {{ averageSalary }}</h2>
        </div>

    </div>

    <button
    [disabled]="buttonDisabled"
    (click)="viewEmployees()">
    {{ buttonText }}
    </button>

</div>